h1 {
    text-align: center;
}

h2 {
    float: right;
}

ul {
    clear: right;
    list-style: none;
}

li {
    line-height: 50px;
    font-size: 18px;
    background-color: rgb(223, 243, 223);
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
}

span.check_button {
    background-image: url('../images/Ok-icon.png');
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
}

li.selected {
    background-color: darkblue;
    color: white;
}