* {
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
    float: left;
}

@media (max-width: 2000px) {
    div {
        width: 24%;
    }
}

@media (max-width: 1200px) {
    div {
        width: 33%;
    }
}

@media (max-width: 850px) {
    div {
        width:49%;
    }
}


@media (max-width: 600px) {
    div {
        width: 100%;
    }
}
